/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&display=swap");

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

/* Global styles */

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}
h1,
h2 {
    text-transform: uppercase;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 2rem;
}
/* Header */
#header .lead {
    font-family: var(--secondary-font);
}

/* Services */
#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}

/* grid visualisation CSS for testing */

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}
*/

/* Navbar */
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

/* Media Queries */

/* Make all cards the same height on medium screens 768px and up*/
@media (min-width: 768px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 191px;
    }
}

/* Make all cards the same height on larger screens 992px and up*/
@media (min-width: 992px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: auto;
    }
}

/* Make all cards the same height on extra large screens 1200px and up*/
@media (min-width: 1200px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 200px;
    }
}

/* Make all cards the same height on extra extra large screens 1400px and up*/
@media (min-width: 1400px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 195px;
    }
}
